body{
  font-size: 13px;  
  line-height: 24px;
  color: #000000;
  font-weight: normal;
  font-family: "PT Sans", "Arial", "sans-serif";
  margin: 0;
}
h1{
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  font-family: "Cuprum", "Arial", "sans-serif";
}
h2{
  font-size: 30px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", "sans-serif";
  margin: 0;
}
header{
  font-family: "Cuprum", "Arial", "sans-serif";
}
.clearfix:after{
  content: "";
  clear: both;
  display: table;    
}
.container{
  width: 940px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
/*Хэдер пользователя*/
.header-user{  
  min-height: 42px;
  font-size: 0;
  background-color: #293449;
}
.header-user .logo{
  display: inline-block;
  width: 220px;
  height: 42px;
  vertical-align: middle;
}
.header-user form{
  display: inline-block;
}
.header-user .search{
  display: inline-block;
  width: 270px;
  vertical-align: middle;
}
.header-user .container > div{
  display: inline-block;
  width: 150px;
  font-size: 17px;  
  vertical-align: middle;
}

/*Основной хэдер*/
.header-main{
  background-color: #f1f5f7;
  font-size: 0;
}
.header-main .container{
  padding-top: 46px;
  padding-bottom: 60px;
}
.contacts-login .display-none{
  display: none;
}
.contacts-login > div{
  display: inline-block;
  font-size: 14px;  
  vertical-align: top;
}
.contacts-login .description{
  width: 200px;
  margin-right: 20px;
  padding-top: 3px; 
  padding-left: 53px;
  padding-right: 47px;     
  line-height: 23px;
}
.contacts-login .contacts{  
  margin-right: 50px;  
}
.contacts-login .contacts div:first-child{
  width: 193px;
  min-height: 31px;
  padding-top: 7px;
  padding-left: 71px;
  border: 3px solid #ffffff;
}
.contacts-login .contacts div:last-child{
  width: 270px;
  padding-top: 4px;
}
.contacts-login .unauthorized{
  font-size: 0px;
}
.unauthorized .login{
  display: inline-block;
  width: 121px;
  min-height: 45px;
  margin-left: 19px;
  margin-right: 10px;
  font-size: 21px;
  background-color: #ffffff;
}
.unauthorized .register{
  display: inline-block;
  width: 150px;
  min-height: 45px;
  font-size: 21px;
  background-color: #ffffff;
}
.authorized div{
  font-size: 0;
}
.authorized a{
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
}
.authorized .user{
  width: 240px;
  min-height: 45px;  
  background-color: #ffffff;  
}
.authorized .logout{
  width: 60px;
  min-height: 45px;
  background-color: #ffffff;
}
.authorized .my-orders{
  padding-top: 7px;
  padding-left: 19px;
  padding-right: 20px; 
  line-height: 18px;
}
.authorized .my-account{
  padding-top: 7px;
  padding-left: 11px;
  padding-right: 13px;
  line-height: 18px;
}
/*Главное меню*/
.main-navigation{     
  margin-top: 39px;  
}
.main-navigation ul{
  margin: 0;
  padding: 0;
}
.main-navigation li{
  display: inline-block; 
}
.main-navigation a{
  display: inline-block;
  width: 100px;
  min-height: 43px;  
  padding-top: 18px; 
  padding-right: 30px;
  font-size: 17px;
  text-align: right;
  background-color: #32425c;
}
.main-navigation li:nth-of-type(1) a{
  width: 104px;
}
.main-navigation li:nth-of-type(2) a{
  width: 100px;
}
.main-navigation li:nth-of-type(3) a{
  width: 81px;
}
.main-navigation li:nth-of-type(4) a{
  width: 83px;
}
.main-navigation li:nth-of-type(5) a{
  width: 150px;
}
.main-navigation li:nth-of-type(6) a{
  width: 92px;
}
.main-navigation li:nth-of-type(7) a{
  width: 95px;
  padding-right: 55px;
}

/*Блок промо*/
.promo-block{
  margin-top: 59px;
}
.promo-card{
  float: left;
  width: 300px;
  min-height: 123px;  
}
.promo-card:nth-child(1),
.promo-card:nth-child(2){
  margin-right: 20px;
}
.promo-card:nth-child(5),
.promo-card:nth-child(6){
  margin-top: 20px;
}
.promo-slider-wrapper{
  float: left;
  width: 620px;
  min-height: 266px;
  margin-top: 20px;
  margin-right: 20px;
}
.promo-material{
  background-color: #f6b22d;
}
.promo-instrument{
  background-color: #4aafde;
}
.promo-equipment{
  background-color: #cc79d1;
}
.promo-discount{
  background-color: #85d179;
}
.promo-delivery{
  background-color: #f6b22d;
}

/*Популярные товары*/
.popular-goods{
  margin-top: 53px;  
}
.popular-goods-title,
.popular-brands-title{
  min-height: 89px;
  background-color: #f7f3ec;
  margin-bottom: 20px;
}
.popular-goods-title h1,
.popular-brands-title h1{
  display: inline-block;
  width: 660px;  
}
.popular-goods-title a,
.popular-brands-title a{
  display: inline-block;
  width: 253px;
  min-height: 38px;
  vertical-align: middle;  
}
.catalog-item{
  float: left;
  width: 218px;
  min-height: 316px;
  margin-right: 20px;
  border: 1px solid #e5e5e5;
}
.catalog-item:nth-child(4n){
  margin-right: 0;
}

/*Популярные производители*/
.popular-brands{
  margin-top: 21px;
}
.brands a{
  float: left;
  width: 218px;
  min-height: 143px;
  margin-right: 20px;
  border: 1px solid #e5e5e5;
}
.brands a:nth-child(4n){
  margin-right: 0;
}
.brands a:nth-child(n+5){
  margin-top: 20px;
}

/*Сервисы*/
.services{  
  margin-top: 85px;
  background-color: #f2f6f8;
}
.services .container{
  min-height: 353px;
  padding-top: 68px;
  padding-bottom: 101px;
}
.services .container > p{
  width: 400px;
}
.services-slider-control{
  float: left;
  margin-right: 80px;
}
.services-slider input{
  float: left;
}
.services-slides{
  float: left;
}
.services-slide:nth-child(1) p{
  width: 275px;
  font-size: 13px;
  line-height: 24px;
}
.services-slide:nth-child(2) p{
  width: 379px;  
}
.services-slide:nth-child(3) p{
  width: 279px; 
}
/*Удалить*/
.services-slide:nth-child(2),
.services-slide:nth-child(3){
  display: none;
}/*Удалить*/

/*О компании*/
.about-us{
  margin-top: 82px;
  min-height: 368px;  
}

.about-company{
  float: left;
  width: 519px;
}
.about-us .contacts{
  float: left;
  margin-left: 120px;
}
.contacts p{
  display: block;
  width: 179px;
}
.about-us .btn{
  display: block;
  margin-top: 40px;
}

/*Футер*/
footer{
  margin-top: 86px;
}